<a href="https://colab.research.google.com/github/Cervantes21/Curso-NumPy-Pandas-ES-/blob/main/Numpy%26Pandas_ES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numpy y Pandas**

> Bloc con sangría


## **¿Por qué [NumPy](https://numpy.org/)?**
Es una librería enfocada al cálculo numérico y manejo de Arrays.
* Es muy veloz, hasta 50 veces más rápido que usar una lista de Python o C.
* Optimiza el almacenamiento en memoria.
* Maneja distintos tipos de datos.

Es una librería tan poderosa que se pueden crear ***Redes Neuronales*** desde 0.
* Escrita por Travis oliphant.
* Creada en el 2005.
* 100 % Open source.
* Se encuentra en Github.
### Repositorio:
[![numpy-logo](https://cdn.document360.io/da52b302-22aa-4a71-9908-ba18e68ffee7/Images/Documentation/Numpy.png)](https://github.com/numpy/numpy)

---
---

## **¿Por qué [Pandas](https://pandas.pydata.org/docs/getting_started/index.html)?**
Pandas está enfocada a la manipulación y análisis de datos.
* Al estar construido sobre NumPy es veloz.
* Requiere poco código para manipular los datos.
* Soporta múltiples formatos de archivos.
* Ordena los datos en una alienación inteligente.

Se pueden manejar ***grandes cantidades de datos***, hacer analítica y generar dashboards.
* Escrita por Wes McKinney
* Creada en el 2008.
* Construida sobre NumPy.
* 100% Open Source.
* También se encuentra en Github.

### Repositorio:
[![Pandas-logo](https://cdn.document360.io/da52b302-22aa-4a71-9908-ba18e68ffee7/Images/Documentation/Pandas_logo.png)](https://github.com/pandas-dev/pandas)

In [ ]:
# Comenzamos importando las librerías.
import numpy as np
import pandas as ps

# **Numpy**

## **NumPy Array (Matriz NumPy)**
El array es el principal objeto de la librería. Representa datos de manera estructurada y se puede acceder a ellos a través del indexado, a un dato específico o un grupo de muchos datos específicos.
### ¿Cuál es la diferencia entre una lista de Python y una matriz NumPy? 
NumPy nos brinda una enorme variedad de formas rápidas y eficientes de crear matrices y manipular datos numéricos dentro de ellas.

Si bien una lista de Python puede contener diferentes tipos de datos dentro de una sola lista, todos los elementos de una **matriz NumPy** deben ser [homogéneos](https://www.superprof.es/apuntes/escolar/matematicas/algebralineal/sistemas/sistemas-homogeneos-7.html). Las operaciones matemáticas que deben realizarse en matrices serían extremadamente ineficientes si las matrices no fueran [homogéneas](https://www.superprof.es/apuntes/escolar/matematicas/algebralineal/sistemas/sistemas-homogeneos-7.html).

```python
lista = [1,2,3,4,5,6,7,8,9]
```
#### ¿Por qué usar NumPy?

Las matrices NumPy son más rápidas y compactas que las listas de Python. Una matriz consume menos memoria y es conveniente de usar. NumPy usa mucha menos memoria para almacenar datos y proporciona un mecanismo para especificar los tipos de datos. Esto permite optimizar aún más el código.
```python
lista = [1,2,3,4,5,6,7,8,9]
np.array(lista)
```
Otro ejemplo sería "Matrices" sería este:
```python
matriz = [[1,2,3],[4,5,6],[7,8,9]]
a = np.array(matriz)
# Dónde en la variable "a" tendríamos todo el contenido iterable.
```
## **¿Qué es una matriz?**
Una matriz es una estructura de datos central de la biblioteca NumPy. Una matriz es una cuadrícula de valores y contiene información sobre los datos sin procesar, cómo ubicar un elemento y cómo interpretar un elemento. Tiene una cuadrícula de elementos que se pueden [indexar de varias maneras](https://numpy.org/doc/stable/user/quickstart.html#quickstart-indexing-slicing-and-iterating). 

Los elementos son todos del mismo tipo, denominado **matriz _dtype_**.

Una matriz se puede indexar por una tupla de enteros **no negativos**, por valores booleanos, por otra matriz o por enteros. El ***rank*** de la matriz es el número de dimensiones. El ***shape*** de la matriz es una tupla de enteros que da el tamaño de la matriz a lo largo de cada dimensión.

Una forma en que podemos inicializar las matrices NumPy es desde las listas de Python, usando listas anidadas para datos de dos o más dimensiones.

Por ejemplo:

In [ ]:
import numpy as np
# Importamos nuestra librería
lista = [1,2,3,4,5,6,7,8,9]
# Agregamos una lista de Python
arr = np.array(lista)
# Usamos nuestro np.array para usar las propiedades de clase de la librería.

In [ ]:
# Podemos verificar nuestra el tipo de nuestra variable con:
type(arr)

numpy.ndarray

In [ ]:
# Podemos de itear sobre nuestra lista
arr [0]

1

In [ ]:
# Podemos sumar estar iteraciones. Veamos más a continuación.
arr[0] + arr[5]

7

In [ ]:
# Iteración por rangos:
arr[1:6]

array([2, 3, 4, 5, 6])

In [ ]:
# Iteración de rangos por pasos:
arr[1: 2: 3]

array([2])

In [ ]:
# Iteración desde el final:
arr[-1]

9

## **Matrices en código**
Podemos acceder a los elementos de la matriz usando corchetes. Cuando acceda a los elementos, recuerde que la indexación en **NumPy comienza en 0**. Eso significa que si desea acceder al **primer** elemento de su matriz, accederá al elemento **"0"**.

Puedes visualizar una matriz de esta forma:
![matriz](https://numpy.org/doc/stable/_images/np_array.png)

In [ ]:
matriz = [[1,2,3],[4,5,6],[7,8,9]]
a = np.array(matriz)
a
# Siendo una propiedad de Google colab podemos ver el tipo de nuestra variable

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### **Idexado de Matrices**
El indexado nos permite acceder a los elementos de los array y matrices
Los elementos se empiezan a contar desde 0. Agregando una "**,**" para ingresar a valores especificos de nuestros conjunto. El segundo valor separado por comas se refiere al nivel de columnas.
```python
matriz[0,2]
```
Si bien quisieramos itear por rangos se utilizan "**:**"
```python
matriz[1:6]
```


| Primera conjunto "0" | Segundo conjunto "1" | Tercer conjunto "2" |
| -- | -- | -- |
| **1** | **4** | **7** |
| **2** | **5** | **8** |
| **3** | **6** | **9** |

In [ ]:
# Acceder por indices a nuestra variable
a[0]
# Primer "0" conjunto de elementos

array([1, 2, 3])

In [ ]:
# Acceder por indices a nuestra variable
a[1]
# Segundo "1" conjunto de elementos

array([4, 5, 6])

In [ ]:
# Acceder por indices a nuestra variable
a[2]
# Tercer "2" conjunto de elementos

array([7, 8, 9])

### **Slicing**
Nos permite extraer varios datos, tiene un comienzo y un final.
En este ejemplo se está extrayendo datos desde la posición 1 hasta la 5.
```python
arr[1:6]
---> array([2, 3, 4, 5, 6])
```
Si no se ingresa el valor de inicio, se toma el inicio como la posición 0.
```python
arr[:6]
---> array([1, 2, 3, 4, 5, 6])
```
En cambio, si no se le da una posición final, se regresan todos los elementos hasta el final del array.
```python
arr[2:]
---> array([3, 4, 5, 6, 7, 8, 9])
```
También se puede trabajar por pasos.

En este ejemplo de 3 en 3.
Regresa la posición 0, 0 + 3, 3 + 3 y como no hay posición 6 + 3, no se regrese nada.
```python
arr[::3]
---> array([1, 4, 7])
```
Cuando se le asigna un valor negativo se regresan los valores comenzando desde la última posición del array.
```python
arr[-1]
---> 9
arr[-3:]
---> array([7, 8, 9])
```
Para el caso de las matrices, sucede algo similar.
Para acceder a los valores entre filas.
```python
matriz[1:]
---> array([[4, 5, 6],
       	   [7, 8, 9]])
```
Para acceder a los valores entre filas y columnas.
```python
matriz[1:, 0:2]
---> array([[4, 5],
            [7, 8]])
```

In [ ]:
# Podemos iterar matrices también como rango:
a[1:,0:2]
# Aquí le indicamos con la , que a nivel de columnas mande desde el primer al tercer valor.

array([[4, 5],
       [7, 8]])

### **Operaracion con Iteraciones de matrices**

| Index | Valor |  2do Valor |
| -- | -- | -- |
| 0,2 + 1,2 | 3 | 6 |
| Resultado: | 3 + 6 = 9 |

Ejemplo en codigo:

In [ ]:
a
# Confirmamos los valores internos.

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
a[0,2] + a[1,2]

9

In [ ]:
a[2,1] + a[0,1]
# Aquí le estoy pidiendo que entre al tercer conjunto en la segunda columna + el primer conjunto de la segunda columna. lo que daría resultado "10"

10

In [ ]:
# También podemos sumar rangos:
a[::3] + a[2:]

array([[ 8, 10, 12]])

## **Dimensiones** 
El conjunto de un array se puede dimensionar y unos ejemplos son:
* Unidimensional:
```*python*
lista = [1,2,3,4,5,6,7,8,9]
a = np.array(lista)
```
* Bidivensional:
```python
matriz_2d = [[1,2,3],[4,5,6],[7,8,9]]
b = np.array(matriz_2)
```
* Tridimensional:
>cuando una matriz tiene 3 dimensiones normalmente se le llama tensor.
```python
matriz_3d = [  [[1,2],[3,4]], #Matriz 1
                [[5,6], [7,8]], #Matriz 2
                [[9,10], [11,12]] #Matriz 3
            ]
c = np.array(matriz_3d)
```

![dimensiones]()

### **¿Cómo diferenciar las dimensiones de un Array?**

* 


![dimensiones]()

In [ ]:
import numpy as np
# Importamos Librerías
matriz_3d = [  [[1,2],[3,4]], #Matriz 1
                [[5,6], [7,8]], #Matriz 2
                [[9,10], [11,12]] #Matriz 3
            ]
matriz_3d
c = np.array(matriz_3d)
# Conversimos a nuestra matriz de 3 dimensiones en una variable.

Para más información acerca de la iteración de tres dimensiones esta estos apuntes de un [colega](https://colab.research.google.com/drive/1iw8BISgNhhvkgpjdjcxPkmiQQ2rcaT5A?usp=sharing#scrollTo=k0TCO9COPJLA)

### **Dimensiones de las matrices.**
Con las matrices podemos crear varias dimensiones, y vamos a nombrarlas
* **Scalar:** 0, un solo dato, o valor matemáticamente conocido como **n**

| 0 |
| -- |
| 0 ... n |

* **Vector:** Listas de Python

| Lista|   |   |    |    |    |    
| -- | -- | -- | -- | -- | -- | 
| 0 | 1 | 2 | 3 | 4 | 5 | 6 |

* **Matriz:** Hoja de Cálculo

| Color | País | Edad | Fruta |
| -- | -- | -- | -- |
|Rojo|España|24|Pera|
|Amarillo|Colombia|30|Manzanas|

* **Tensor:** Series de tiempo o imágenes.

![tensor]()

#### Declarando un escalar
***.ndim** Nos nuestra las dimensiones que tiene.

In [ ]:
scalar = np.array(42)
print(scalar) 
scalar.ndim

42

0

#### Declarando un Vector

1.   Elemento de la lista
2.   Elemento de la lista

In [ ]:
vector = np.array([1, 2, 3])
print(vector) 
vector.ndim

[1 2 3]

1

#### Declarando una Matriz.

In [ ]:
matriz = np.array([[1, 2, 3], [4, 5, 6]])
print(matriz)
matriz.ndim

[[1 2 3]
 [4 5 6]]

2

#### Declarando un tensor.
(Tres dimensiones)

In [ ]:
tensor = np.array([[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],[[13, 13, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24]]])
print(tensor)
tensor.ndim

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]
  [10 11 12]]

 [[13 13 15]
  [16 17 18]
  [19 20 21]
  [22 23 24]]]

3

### **Agregar o eliminar dimensiones**
Se puede definir el ***número de dimensiones*** desde la declaración del array.

In [ ]:
vector = np.array([1, 2, 3], ndmin = 10)
print(vector) 
vector.ndim

[[[[[[[[[[1 2 3]]]]]]]]]]

10

Se pueden expandir dimensiones a los array ya existentes con 
```python
expand_dims(). Axis = 0 
```
hace referencia a las filas, mientras que axis = 1 a las columnas.

In [ ]:
expand = np.expand_dims(np.array([1, 2, 3]), axis = 0)
print(expand)
expand.ndim

[[1 2 3]]

2

**Remover/comprimir las dimensiones que no están siendo usadas.**

In [ ]:
print(vector, vector.ndim) 
vector_2 = np.squeeze(vector)
print(vector_2, vector_2.ndim)

[[[[[[[[[[1 2 3]]]]]]]]]] 10
[1 2 3] 1

### Reto
* Definir un tensor de 5D
* Sumarle una dimensión en cualquier eje
* Borrar las dimensiones que no se usen

In [ ]:
import numpy as np
pentamatrix = np.array([[[[1, 2],[3, 4]], [[5, 6],[7, 8]]], [[[1, 2],[3, 4]], [[5, 6],[7, 8]]]], ndmin = 5)
print(pentamatrix, pentamatrix.ndim)

[[[[[1 2]
    [3 4]]

   [[5 6]
    [7 8]]]


  [[[1 2]
    [3 4]]

   [[5 6]
    [7 8]]]]] 5

In [ ]:
expand= np.expand_dims(pentamatrix, axis=1)
print(expand,expand.ndim)

[[[   0    1    2 ...   97   98   99]]

 [[ 100  101  102 ...  197  198  199]]

 [[ 200  201  202 ...  297  298  299]]

 ...

 [[9700 9701 9702 ... 9797 9798 9799]]

 [[9800 9801 9802 ... 9897 9898 9899]]

 [[9900 9901 9902 ... 9997 9998 9999]]] 3

In [ ]:
print(expand, expand.ndim)
reduced5 = np.squeeze(expand)
print(reduced5, reduced5.ndim)

[[[   0    1    2 ...   97   98   99]]

 [[ 100  101  102 ...  197  198  199]]

 [[ 200  201  202 ...  297  298  299]]

 ...

 [[9700 9701 9702 ... 9797 9798 9799]]

 [[9800 9801 9802 ... 9897 9898 9899]]

 [[9900 9901 9902 ... 9997 9998 9999]]] 3
[[   0    1    2 ...   97   98   99]
 [ 100  101  102 ...  197  198  199]
 [ 200  201  202 ...  297  298  299]
 ...
 [9700 9701 9702 ... 9797 9798 9799]
 [9800 9801 9802 ... 9897 9898 9899]
 [9900 9901 9902 ... 9997 9998 9999]] 2

## **Tipos de datos en los Arrays**
Los arrays de NumPy solo pueden contener un tipo de dato, ya que esto es lo que le confiere las ventajas de la optimización de memoria.

Podemos conocer el tipo de datos del array consultando la propiedad  ***.dtype***

In [ ]:
# Importamos librerías nuevamente
import numpy as np
arr = np.array([1,2,3,4,5])
arr.dtype

dtype('int64')

Si queremos usar otro tipo de dato, lo podemos definir en la declaración del array.

In [ ]:
arr = np.array([1, 2, 3, 4], dtype = 'float64')
arr.dtype

dtype('float64')

Ahora vemos que los valores están con punto decimal.

In [ ]:
arr

array([1., 2., 3., 4.])

Si ya se tiene el array definido, se utiliza el método .astype() para convertir el tipo de dato.
Definimos como flotante como 'float64' para utilizar todas las propiedades y beneficios de NumPy

In [ ]:
arr = arr.astype(np.float64)

También se puede cambiar a tipo booleano recordando que los números diferentes de 0 se convierten en True.

In [ ]:
arr = np.array([0, 1, 2, 3, 4])
arr = arr.astype(np.bool_)
arr

array([False,  True,  True,  True,  True])

También podemos convertir los datos en tipo string.

In [ ]:
arr = np.array([0, 1, 2, 3, 4])
arr = arr.astype(np.string_)
arr

array([b'0', b'1', b'2', b'3', b'4'], dtype='|S21')

De igual manera, se puede pasar de string a número.

In [ ]:
arr = np.array(['0', '1', '2', '3', '4'])
arr = arr.astype(np.int8)
arr

array([0, 1, 2, 3, 4], dtype=int8)

**Si un elemento no es de tipo número, el método falla.**

In [ ]:
arr = np.array(['hola','0', '1', '2', '3', '4'])
arr = arr.astype(np.int8)
arr

ValueError: ignored

El array de Numpy únicamente puede tener un único tipo de datos en el cual va a trabajar. No puedo tener la mitad del array en int y la otra mitad en bool.
[tipos de datos NumPy](https://numpy.org/doc/stable/user/basics.types.html)

### **Creando Arrays**
Numpy nos da varios métodos muy eficientes para poder crear arrays desde 0.

Este método de NumPy nos permite generar arrays sin definir previamente una lista.

In [ ]:
# Veamos una lista primero hecha en Python.
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Comenzamos importando.
import numpy as np
np.arange(0,10)
# Con "np.arange()" podemos definir un array de 0 dimensiones o un Scar

In [ ]:
# También si definimos un tercer valor nos va a dar los pasos.
# np.arange(inicio,fin,pasos)
np.arange(0,20,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
# Tambień tenemos Zeros  y nos permite definir estructuras o esquemas.
np.zeros((10,10))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
# También esta Ones que de igual manera que Zeros nos permite estructuras
np.ones((10,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
# Esta la función Linspace np.linspace(inicio,fin,cuantosdatos)
np.linspace(0,10,100)

array([ 0.        ,  0.1010101 ,  0.2020202 ,  0.3030303 ,  0.4040404 ,
        0.50505051,  0.60606061,  0.70707071,  0.80808081,  0.90909091,
        1.01010101,  1.11111111,  1.21212121,  1.31313131,  1.41414141,
        1.51515152,  1.61616162,  1.71717172,  1.81818182,  1.91919192,
        2.02020202,  2.12121212,  2.22222222,  2.32323232,  2.42424242,
        2.52525253,  2.62626263,  2.72727273,  2.82828283,  2.92929293,
        3.03030303,  3.13131313,  3.23232323,  3.33333333,  3.43434343,
        3.53535354,  3.63636364,  3.73737374,  3.83838384,  3.93939394,
        4.04040404,  4.14141414,  4.24242424,  4.34343434,  4.44444444,
        4.54545455,  4.64646465,  4.74747475,  4.84848485,  4.94949495,
        5.05050505,  5.15151515,  5.25252525,  5.35353535,  5.45454545,
        5.55555556,  5.65656566,  5.75757576,  5.85858586,  5.95959596,
        6.06060606,  6.16161616,  6.26262626,  6.36363636,  6.46464646,
        6.56565657,  6.66666667,  6.76767677,  6.86868687,  6.96969697,
        7.07070707,  7.17171717,  7.27272727,  7.37373737,  7.47474747,
        7.57575758,  7.67676768,  7.77777778,  7.87878788,  7.97979798,
        8.08080808,  8.18181818,  8.28282828,  8.38383838,  8.48484848,
        8.58585859,  8.68686869,  8.78787879,  8.88888889,  8.98989899,
        9.09090909,  9.19191919,  9.29292929,  9.39393939,  9.49494949,
        9.5959596 ,  9.6969697 ,  9.7979798 ,  9.8989899 , 10.        ])

In [ ]:
# Otro metodo de algebra líneal es np.eye(n) También podemos crear una matriz con una diagonal de 1 y el resto de 0
np.eye(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [ ]:
# Valores aleatorios. si no especificamos ningún valor dentro nos proporciona sólo una valor aleatorio
np.random.rand()

0.31244876309979497

In [ ]:
np.random.rand(4)
# Cuando agregamos un valor nos devuelve la cantidad de numero aleatorios que pedimos

array([0.93904596, 0.38621968, 0.40439011, 0.39709394])

In [ ]:
np.random.rand(4,5)
# Aquí agregando un segundo valor nos agrega una estructura matricial.

array([[0.68671415, 0.09639126, 0.2305005 , 0.4821218 , 0.99469496],
       [0.3424953 , 0.31213473, 0.56700339, 0.14424014, 0.38764558],
       [0.29571894, 0.22502383, 0.18956135, 0.64735192, 0.06816198],
       [0.46983737, 0.44131507, 0.80507204, 0.0714569 , 0.40154714]])

In [ ]:
np.random.randint(1,15)
# Definimos numero aleatorios enteros

12

In [ ]:
np.random.randint(1,100,(10,10))
# Tenemos una estructura de 1 a 100, con una estrcutura de 10 por 10

array([[70, 23, 72, 89,  1, 62, 31, 54, 33,  5],
       [28,  1,  7, 77, 34, 44, 28, 24, 25, 20],
       [87, 12,  9, 99, 58, 53, 51, 49, 21, 73],
       [93, 77, 15, 52, 75, 37,  7, 82, 57, 44],
       [14, 19, 84, 45, 20, 83, 31, 74, 60, 22],
       [54, 11, 78, 16, 31, 36,  1, 40, 90, 38],
       [82, 12,  1, 16, 81, 58, 57, 33, 63,  2],
       [19, 49, 85, 91, 50,  3,  7, 11, 30,  7],
       [27, 37, 78, 47, 22, 67, 98, 70, 98, 83],
       [34, 17, 83, 32, 72, 52, 10,  6, 18, 22]])

## **Shape y Reshape**
Hay 2 funciones muy importantes de los arreglos (Shape y Reshape). La forma de un arreglo nos va a decir con que estructura se está trabajando (tamaño, manipular, ingresar).

### **Shape**
Indica la forma del arreglo. Me indica con que estructura estoy trabajando. Como está hecho ese arreglo.

In [ ]:
import numpy as np
arr = np.random.randint(1,10,(3,2)) #Dentro del parentesis elegimos la estructura
# Aquí estamos creando numeros aleatorios del 1 al 10
arr.shape
# shape nos dice cuantas filas y cuantas columnas tenemos

(3, 2)

In [ ]:
arr

array([[7, 6],
       [7, 5],
       [3, 6]])

### **Reshape**
Transforma el arreglo mientras se mantengan los elementos.
Esto quiere decir que con.reshape nos cambia la forma del arreglo.

In [ ]:
arr.reshape(1,6)
# Del ejemplo anterior, nos guarda los mismos valores pero ahora
# Nos modifica el arreglo a sólo una fila y 6 elementos.

array([[7, 6, 7, 5, 3, 6]])

In [ ]:
arr.reshape(2,3)
# Ahora estamos aplicando 2 filas con 3 elementos cada una

array([[7, 6, 7],
       [5, 3, 6]])

In [ ]:
np.reshape(arr,(1,6))
# Es el mismo primer ejemplo, sólo que otra sintaxis

array([[7, 6, 7, 5, 3, 6]])

#### También se puede hacer un Reshape como lo haría **C**

In [ ]:
np.reshape(arr,(2,3), 'C')

array([[7, 6, 7],
       [5, 3, 6]])

#### También se puede hacer un reshape como lo haría **Fortran**

In [ ]:
np.reshape(arr,(2,3), 'F')

array([[7, 3, 5],
       [7, 6, 6]])

#### Además, existe la opción de hacer reshape según como esté optimizado nuestro computador. En este caso es como en C.

In [ ]:
np.reshape(arr,(2,3),'A')
# Lo hace

array([[7, 6, 7],
       [5, 3, 6]])

**No puedes cambiar la "forma" a la "forma" original del array, si tienes un (3,3) no lo puedes pasar a (4,2). 
No respeta los 9 elementos del array original**

## **Funciones principales de NumPy**

In [102]:
import numpy as np

In [103]:
arr = np.random.randint(1,20,10)

In [ ]:
matriz = arr.reshape(2,5)
matriz

array([[17,  9, 10,  9, 11],
       [13,  1,  8,  7,  2]])

### **np.max()**
**np.argmax()***

In [ ]:
arr.max()
# Traemos el número más grande que tiene nuestro array

17

In [ ]:
matriz.max(0)
# Podemos hacer la evaluación por medio de indices

array([17,  9, 10,  9, 11])

In [ ]:
arr.argmax()
# Nos da el índice dónde se encuenta nuestro valor

0

In [ ]:
matriz.argmax(0)
#  Además podemos agregar un índice a la matriz en el cual nos va a arrojar los indices en donde se cuentran los maximos

array([0, 0, 0, 0, 0])

### **np.min()**
**np.argmin()***

In [ ]:
arr.min()
# De igual manera que funciona max, min nos entrega el minimo

1

In [ ]:
matriz.argmin(1)
# Igual podemos agregar .argmin()

array([1, 1])

### **np.ptp()**

In [ ]:
arr

array([17,  9, 10,  9, 11, 13,  1,  8,  7,  2])

In [ ]:
arr.ptp()
# .ptp() Nos permite comparar de un valor (p) a otro valor (p)

16

In [ ]:
matriz.ptp(0)
# Nos hace la comparación de picos, también incluso por matrices.

array([4, 8, 2, 2, 9])

### **np.sort()**
Organización, ordener los elementos.

In [104]:
arr.sort()
# Nos ordena los número de mayor a menor
arr

array([ 4,  7,  8, 13, 13, 16, 16, 17, 18, 18])

## **Análisis Estadístico con NumPy**

### **np.percentile()**
Obtener unpercentil:

In [ ]:
np.percentile(arr,50)
# Nos hace una división entre el número más alto, al número más bajo.

9.0

In [ ]:
np.percentile(arr,100)
# El 100% incluye el número más alto

17.0

In [ ]:
np.percentile(arr,0)
# El 0% el número mínimo

1.0

### **np.median()**
Mediana:

In [ ]:
np.median(arr)
# Mediana
# Mismo este proceso coincide con el .percentile 50%

9.0

In [ ]:
np.median(matriz,0)
# Podemos observar la media, también en matrices y acceder a traves del index

array([ 5. ,  6. ,  9. , 10.5, 13. ])

### **np.std()** y **np.var()**
Desviación estándar y Varianza:

In [ ]:
np.std(arr)
# .std nos muestra la desviación estandar

4.495553358597805

In [ ]:
np.var(arr)
# .var() esta es la variancia. que es la desviación estandar al cuadrado.

20.21

In [ ]:
np.std(arr)**2

20.210000000000004

### **np.mean()**
Promedio:

In [ ]:
np.mean(arr)
# Esta es la media y es la suma de todos los valores, dividido en la cantidad de valores

8.7

### **np.concatenate()**
Concatenación
Se pueden unir dos arrays

In [ ]:
a = np.array([[1,2],[3,4]])
b = np.array([5,6])
a
b

array([5, 6])

In [ ]:
np.concatenate((a,b),axis=0)
# Aquí nos arroja un erro debido a que no tienen las mismas dimenciones

ValueError: ignored

In [ ]:
print(a.ndim)
# Tiene dos dimensiones.
print(b.ndim)
# Tiene una dimensión.

2
2

In [ ]:
# Vamos a expandir la dimensión de "B" para que quede igual que "A"
b = np.expand_dims(b,axis=0)
# Estamos guardando el resultado en una variable, dentro de ello decimos que
# Estamos sumando un nuevo eje con axis

In [ ]:
np.concatenate((a,b),axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [ ]:
np.concatenate((a,b),axis=1)
# Esto también nos arroja un error, ya que no existe el valor

ValueError: ignored

In [ ]:
np.concatenate((a,b.T),axis=1)
'''
Como ‘b’ es una fila y no una columna, 
no se puede concatenar a menos que 
se aplique la transpuesta. 
La transpuesta pone nuestro array en sentido 
opuesto, si el array original es (1,2), 
con la transpuesta quedará (2,1)
'''

'\nComo ‘b’ es una fila y no una columna, \nno se puede concatenar a menos que \nse aplique la transpuesta. \nLa transpuesta pone nuestro array en sentido \nopuesto, si el array original es (1,2), \ncon la transpuesta quedará (2,1)\n'

## **Copy**
.copy() nos permite copiar un array de NumPy en otra variable de tal forma que al modificar el nuevo array los cambios no se vean reflejados en array original.

In [ ]:
import numpy as np

Tomamos un trozo del array original

In [ ]:
arr = np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
arr2 = arr[0:6]

Queremos pasar todas nuestras variables a 0

In [ ]:
arr2[:] = 0
arr2

array([0, 0, 0, 0, 0, 0])

Se han modificado los datos del array original porque seguía haciendo referencia a esa variable.

In [ ]:
arr

array([ 0,  0,  0,  0,  0,  0,  6,  7,  8,  9, 10])

**Con .copy() creamos una copia para no dañar nuestro array original**

In [ ]:
arr_copy = arr.copy()

In [ ]:
arr_copy[:] = 100
arr_copy

array([100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [ ]:
arr

array([ 0,  0,  0,  0,  0,  0,  6,  7,  8,  9, 10])

**Esta función te ayudará a prevenir muchos errores y tener más confianza a la hora de manipular los datos**
[Acerca de COPY](https://numpy.org/doc/stable/reference/generated/numpy.copy.html)

## **Condiciones**
Las condiciones nos permiten hacer consultas más específicas.

In [ ]:
import numpy as np

In [ ]:
arr = np.linspace(1,10,10, dtype='int8')
# Como muestra utilizamos ahora linspace()
# Agregando un rango de inicio=1 a stop=10
# Agregamos que queremos 10 valores
# Y lo queremos de tipo 'int8'

In [ ]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int8)

**Regresa un array de booleanos dónde la condición se cumple.**

In [ ]:
arr > 5 
# Aquí nos arroja una lista de manera booleana.
# Donde le decimos si en el array hay número mayores a 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [ ]:
# Podemos guardar ese resultado en una variable
indices_cond = arr > 5
indices_cond

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

**Regresa los valores para dónde la condiciones True.**

In [ ]:
arr[indices_cond]
# Podemos hacer filtros de busqueda

array([ 6,  7,  8,  9, 10], dtype=int8)

In [ ]:
arr[arr > 5]
# E ingresar los condicionales de manera directa

array([ 6,  7,  8,  9, 10], dtype=int8)

**Múltiples condiciones.**

In [ ]:
arr[(arr > 5 ) & (arr < 9)]
# Con & unimos ambas condiciones para que nos entrege una selección del filtro

array([6, 7, 8], dtype=int8)

**Modificar los valores que cumplan la condición.**

In [ ]:
arr[arr>5]=99
# Cómo ejemplo le estamos dando una condición
# En dónde si cumple le damos el valor de 99
arr

array([ 1,  2,  3,  4,  5, 99, 99, 99, 99, 99], dtype=int8)

**Condicion de igualdad**

In [ ]:
arr[arr==99]
# Aquí le decimos que sólo nos muestre los que son iguales a 99

array([99, 99, 99, 99, 99], dtype=int8)

## **Operaciones matemáticas**
Existen diferentes operaciones que se pueden usar para los arrays de [NumPy](https://numpy.org/doc/stable/user/absolute_beginners.html#basic-array-operations).

In [ ]:
# Comenzmaos importando
import numpy as np

In [ ]:
# Lista de python.
lista = [1,2]
lista

[1, 2]

Una lista de Python entiende que quieres duplicar los datos. No es lo que buscamos.

In [ ]:
lista * 2
# Si nosotros quisieramos operar con los valores internos de la lista no podríamos
# Ya que Python, nos multiplica(clona)los valores.

[1, 2, 1, 2]

Pero Numpy lo entiende mucho mejor

In [ ]:
# Ahora veamos con Numpy y empecemos creando un array
arr = np.arange(0,10)
arr2 = arr.copy()

In [ ]:
arr
# Mostrmos nuestra lista

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Ahora multiplicamos por un vector:

In [ ]:
# Probamos a operar con el array.
arr * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

Operación suma de vectores:

In [ ]:
arr + 2
# Como podemos ver nos da la operación con cada valor dentro de nuestro array

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

División con un vector
Como en este caso la primera posición del array es 0, muestra un error pero, no detiene el proceso.

In [ ]:
1 / arr
# Aquí lo interesante es que nos alza el error.
# Arrojando también los resultados con los que sí pudo realizar la operación

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

Elevar a un vector:

In [ ]:
arr ** 2
# Elevando al cuadrado

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

Sumar dos arrays de igual dimensiones las hace elemento por elemento:

In [ ]:
arr + arr2
# Aquí podemos operar con con nuestros arrays

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
arr * arr2
# Ejemplo de multiplicación

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

Lo mismo aplica para matrices.

In [ ]:
matriz = arr.reshape(2,5)
matriz2 = matriz.copy()

In [ ]:
matriz

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [ ]:
matriz + matriz2

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [ ]:
matriz - matriz

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

Una operación importante es la de punto por punto, aquí dos formas de hacerla:

In [ ]:
np.matmul(matriz.matriz2)
# Nos arrojará un error por no tener las mismas dimensiones

AttributeError: ignored

In [ ]:
# Lo arreglamos con .T
matriz2.T

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [ ]:
np.matmul(matriz,matriz2.T)

array([[ 30,  80],
       [ 80, 255]])

In [ ]:
matriz @ matriz2.T

array([[ 30,  80],
       [ 80, 255]])

# **Pandas**

## **Series y DataFrames en Pandas**
Pandas
Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos. El nombre viene de “Panel data”.

* Velocidad
* Poco código
* Múltiples formatos de archivos
* Alineación inteligente

Pandas Series
Es muy parecido a un array de una dimensión (o vector) de NumPy.

* Arreglo unidimensional indexado
* Búsqueda por índice
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos

## **Pandas DataFrame**
Muy parecido a las estructuras matriciales trabajadas con NumPy.

* Estructura principal
* Arreglo de dos dimensiones
* Búsqueda por índice (columnas o filas)
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos
* Tamaño variable

In [ ]:
# Comenzaremos importando nuestras librerías.
import pandas as pd

### **Series**
Es un arreglo unidimensional indexado

In [ ]:
pd.Series(['Pedro','Joana','Angel','Paco'], index=[1,7,10,30])
# Aquí definimos una lista con índices específicos

1     Pedro
7     Joana
10    Angel
30     Paco
dtype: object

In [ ]:
# Lo guardamos en una variable
names = pd.Series(['Pedro','Joana','Angel','Paco'], index=[1,7,10,30])
names

1     Pedro
7     Joana
10    Angel
30     Paco
dtype: object

In [ ]:
names = pd.Series(['Pedro','Joana','Angel','Paco'])
# También si eliminamos la propiedad del index 
#  Nos generá un index por defaul comenzando en 0
names

0    Pedro
1    Joana
2    Angel
3     Paco
dtype: object

### **Búsqueda por índices.**

In [ ]:
# Otra manera de definir una Series Pandas es:
dict = {1:'Pedro',10:'Manuel',4:'Pancho',80:'Martin'}
pd.Series(dict)
# Aquí le mandamos como parametro nuestro diccionario.

1      Pedro
10    Manuel
4     Pancho
80    Martin
dtype: object

In [ ]:
names[1]
# Como habíamos visto en Numpy podemos también acceder de forma indexada.

'Joana'

### **Busqueda por Slicing**

In [ ]:
names[0:3]
# También podemos hacer Slicing

0    Pedro
1    Joana
2    Angel
dtype: object

### **Pandas DataFrame**:
Similar a la estructura matricial

In [ ]:
# Defiendo más parámetros:
# Pdemos hacer un diccionario que contenga listas.
dict = {'Jugador':['Alex','Katy','Ana','Jorch'],
 'Altura':[182.0,156.23,162.0,188.0],
 'Puntos':[100,200,50,300]}

#### **pd.DataFrame**

In [ ]:
pd.DataFrame(dict)
# Podemos mostras nuestra información a traves de gráficos con Pandas.

  Jugador  Altura  Puntos
0    Alex  182.00     100
1    Katy  156.23     200
2     Ana  162.00      50
3   Jorch  188.00     300

In [ ]:
# Guardamos en una variable
players = pd.DataFrame(dict, index=[1,2,3,4])
#  Agregamos nuestra propia indexación.
players

  Jugador  Altura  Puntos
1    Alex  182.00     100
2    Katy  156.23     200
3     Ana  162.00      50
4   Jorch  188.00     300

### **Búsqueda por columnas**.

In [ ]:
# Podemos visualizar sólo las columnas.
players.columns

Index(['Jugador', 'Altura', 'Puntos'], dtype='object')

### **Búsqueda por índice**:

In [ ]:
# Podemos visualizar los índices.
players.index

Int64Index([1, 2, 3, 4], dtype='int64')

## **Leer archivos CSV y JSON con Pandas**
Para poder leer archivos encontrados en internet (Repositorios, [Kaggle](https://www.kaggle.com/).

Descargamos el [Archivo CSV](https://static.platzi.com/media/public/uploads/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv), subimos el archivo a nuestro proyecto, le damos clic derecho sobre él y copiamos la dirección.

>![example](https://cdn.document360.io/da52b302-22aa-4a71-9908-ba18e68ffee7/Images/Documentation/link.JPG)

In [ ]:
# Comenzamos importando Pandas
import pandas as pd

In [ ]:
pd.read_csv('/content/example.csv')
# Visualización de los datos con pd.read_

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
pd.read_csv('/content/example.csv', sep=',', header=1)
# Además de eso podemos agregar metodo como sep='' que es el separador. y lo podemos modificar.
# O bien header que que es el encabezado y podemos cambiar el index del encabezado.
# Aquí esta tomando la primera fila para visualizar.

,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
1,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
2,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
3,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
4,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
...,...,...,...,...,...,...,...
544,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
545,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
pd.read_csv('/content/example.csv', sep=',', header=0, names=['Nombre','Autor'])
# Podemos también cambiar el nomre de esos encabezados.

                                                                                          Nombre  \
10-Day Green Smoothie Cleanse                      JJ Smith                 4.7 17350 8     2016
11/22/63: A Novel                                  Stephen King             4.6 2052  22    2011
12 Rules for Life: An Antidote to Chaos            Jordan B. Peterson       4.7 18979 15    2018
1984 (Signet Classics)                             George Orwell            4.7 21424 6     2017
5,000 Awesome Facts (About Everything!) (Nation... National Geographic Kids 4.8 7665  12    2019
...                                                                                          ...
Wrecking Ball (Diary of a Wimpy Kid Book 14)       Jeff Kinney              4.9 9413  8     2019
You Are a Badass: How to Stop Doubting Your Gre... Jen Sincero              4.7 14331 8     2016
                                                                                      8     2017
                                                                                      8     2018
                                                                                      8     2019

                                                                                                Autor
10-Day Green Smoothie Cleanse                      JJ Smith                 4.7 17350 8   Non Fiction
11/22/63: A Novel                                  Stephen King             4.6 2052  22      Fiction
12 Rules for Life: An Antidote to Chaos            Jordan B. Peterson       4.7 18979 15  Non Fiction
1984 (Signet Classics)                             George Orwell            4.7 21424 6       Fiction
5,000 Awesome Facts (About Everything!) (Nation... National Geographic Kids 4.8 7665  12  Non Fiction
...                                                                                               ...
Wrecking Ball (Diary of a Wimpy Kid Book 14)       Jeff Kinney              4.9 9413  8       Fiction
You Are a Badass: How to Stop Doubting Your Gre... Jen Sincero              4.7 14331 8   Non Fiction
                                                                                      8   Non Fiction
                                                                                      8   Non Fiction
                                                                                      8   Non Fiction

[550 rows x 2 columns]

In [ ]:
df_books = pd.read_csv('/content/example.csv')
# Agregamos a una variable.
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
pd.DataFrame(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### **Cargar archivos Json**

In [ ]:
pd.read_json('/content/example-json.json')

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

In [ ]:
# Los formatos Json también lo podemos cambiar a Series de Pandas
pd.read_json('/content/example-json.json', typ='Series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

##**Filtrado con loc y iloc**
Cuando queremos navegar por un dataFrame estas funciones permiten filtrar datos de manera más específica
* .loc
* .iloc

In [ ]:
# Comenzamos nuevamente a importar Pandas.
import pandas as pd

df_books = pd.read_csv('/content/example.csv')
# Agregamos nuestro Data set ejemplo.

In [ ]:
# Podemos acceder a nuestro DataFrame a traves de slicing e indexación.
df_books[0:4]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

In [ ]:
# si quisieramos filtrar por el eje de las columnas
df_books['Name']
# Y nos muestra todo el contenido de esa columna.

0                          10-Day Green Smoothie Cleanse
1                                      11/22/63: A Novel
2                12 Rules for Life: An Antidote to Chaos
3                                 1984 (Signet Classics)
4      5,000 Awesome Facts (About Everything!) (Natio...
                             ...
545         Wrecking Ball (Diary of a Wimpy Kid Book 14)
546    You Are a Badass: How to Stop Doubting Your Gr...
547    You Are a Badass: How to Stop Doubting Your Gr...
548    You Are a Badass: How to Stop Doubting Your Gr...
549    You Are a Badass: How to Stop Doubting Your Gr...
Name: Name, Length: 550, dtype: object

In [ ]:
# Si quisieramos hacer nuestra busqueda de más parametros debemos usar doble [[]]
df_books[['Name','Author','Year']]

,Name,Author,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,2016
1,11/22/63: A Novel,Stephen King,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,2018
3,1984 (Signet Classics),George Orwell,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,2019
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2019

### **.loc** 
**Filtra según un label**

In [ ]:
df_books.loc[:]
# Para poder visualizar todo

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
df_books.loc[0:4]
# Podemos filtrar por medio de indices.

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [ ]:
df_books.loc[0:4, ['Name', 'Author']]
# Podemos filtrar a traves de etiquetas. Y de manera indexada.

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [ ]:
# También podemos hacer operación con los valores.
df_books.loc[:,['Reviews']] * 2

     Reviews
0      34700
1       4104
2      37958
3      42848
4      15330
..       ...
545    18826
546    28662
547    28662
548    28662
549    28662

[550 rows x 1 columns]

In [ ]:
df_books.loc[:,['Author']] == 'JJ Smith'
# También podemos filtrar con operaciones lógicas.

     Author
0      True
1     False
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

### **.iloc**
**Filtra mediante índices.**

In [ ]:
df_books.iloc[:]
# Le decimos que queremos todo.

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
df_books.iloc[:,0:3]
# Ahora nuestras busuqedas van a ser por indice. Y no por etiquetas.

,Name,Author,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
1,11/22/63: A Novel,Stephen King,4.6
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7

In [ ]:
df_books.iloc[1,3]
# Es algo similar pero ahora estamos accediente a traves de los indices.

2052

In [ ]:
df_books.iloc[1,3] /2
# Podemos operar con los liltros.

1026.0

In [ ]:
df_books.iloc[:2,2:]
# Aquí le pedimos que nos muestre desde el primer valor hasta el tercero. A nivel de Filas
# Con el segundo parametro, fenimos a partir del tercer valor hasta el último a nivel de columnas.

   User Rating  Reviews  Price  Year        Genre
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction

## **Agregar o eliminar datos con Pandas**
Muchas ocasiones necesitamos agregar, eliminar o separar datos y pandas nos ofrece varias funciones para que este proceso se vuelva mucho más sencillo.

Esto lo logramos con:
* [pd.drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) **Para eliminar**
* [pd.append](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.append.html) **Para Agregar**

In [54]:
# Comenzamos importando la librería de Pandas
import pandas as pd

In [55]:
df_books = pd.read_csv(('/content/example.csv'))
# Cargamos nuestro archivo csv

In [56]:
df_books.head()
# Retornar las primeras 5 filas

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

### **Drop columns**

#### **Eliminar columnas de la salida pero no del DataFrame**

In [57]:
df_books.drop('Genre', axis=1).head(2)
# Recordemos que axis=0 es para las filas y axis=1 para las columnas.

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011

In [51]:
# Para eliminar de manera definitiva. Usamos inplace=True
df_books = df_books.drop('Year', axis=1, inplace=True)

#### **Eliminar Columnas Con Del**

In [58]:
del df_books['Price']
df_books

,Name,Author,User Rating,Reviews,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

#### **Eliminar Filas**

In [59]:
df_books.drop(0, axis=0)
# Elimina la fila 0 del DataFrame

,Name,Author,User Rating,Reviews,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,2011,Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

#### **Eliminar un conjunto de filas mediante una lista**

In [60]:
df_books.drop([0,1,2], axis=0)
#elimina las filas 0, 1 y 2 del dataFrame

,Name,Author,User Rating,Reviews,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,2017,Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

#### **Elimina un conjunto de filas mediante un rango**

In [61]:
df_books.drop(range(0,10), axis=0)
#elimina las primeras 10 filas del dataFrame

,Name,Author,User Rating,Reviews,Year,Genre
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,2017,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,2011,Non Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,2018,Fiction
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,2009,Non Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

### **Add Columns**

In [63]:
# Para este ejemplo vamos a necesitar también Numpy

import pandas as pd
import numpy as np

# Cargamos nuestro archivo csv.
df_books = pd.read_csv('/content/example.csv')

In [64]:
df_books.head(2)
# Mostramos sólo las primeras dos filas de nuestra información

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

#### **Agregar una nueva columna con valores Nan**

In [66]:
df_books['Nueva_Columna'] = np.nan
# Con esto lo que indicamos es que no es un valor númerico.
df_books
# Mostramos nuestra nueva columna.

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_Columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,NaN
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,NaN
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,NaN
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,NaN
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,NaN
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,NaN
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,NaN

#### **Mostrar el número de filas o columnas que tiene un DataFrame**

In [67]:
df_books.shape[0]
#Muestra el numero de filas que posee el dataFrame

550

#### **Agregar valores a una nueva columna**

In [69]:
data = np.arange(0,df_books.shape[0])
# Estamos agregando valores con un rango de numpy
data

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549])

#### **Crear una nueva columna y agregar los valores almacenados en el array**

In [71]:
# Agregamos una nueva columna con la información que ya hicimos.
df_books['Rango'] = data

df_books
# Mostramos...

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_Columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,NaN,4
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,NaN,549

#### **Para añadir filas se utiliza la función append de Python añadiendo como parámetro una lista, diccionario o añadiendo los valores manualmente.**

In [72]:
df_books.append(df_books)
#Duplica las filas del dataFrame porque se agrega a si mismo

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_Columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,NaN,4
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,NaN,549

## **Manejo de datos nulos.**
Los datos nulos son dolores de cabeza para este mundo de la ciencia de datos y se van a encontrar mucho en nuestros DataFrames

In [74]:
# Comenzamos creando un DataFrame con algunos valores nulos

import pandas as pd
import numpy as np

dict = {
    'Col1':[1,2,3,np.nan],
    'Col2':[4,np.nan,6,7],
    'Col3':['a','b','c',None]
}

In [76]:
df = pd.DataFrame(dict)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

### **.isnull()**
[Más información:](https://pandas.pydata.org/docs/reference/api/pandas.isnull.html)

#### **Identificar valores nulos en un DataFrame**

In [79]:
df.isnull()
# Aquí nos entrega una lista con datos booleanos
# True hay valor, False no lo hay.

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

#### **Identificar valores nulos con un valor numérico**

In [80]:
df.isnull()*1
# Esa misma visualización a manera binaria.

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

### **.fillna()**
[Sustituir los valores nulos por una cadena](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

#### **Sustituir valores nulos por una medida estadística realizada con los valores de las columnas**

In [86]:
# Podemos sustituir los valores nulos con un valor que deseemos.
df.fillna('Es nulo')
# también pudiera son con un valor numérico

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Es nulo        b
2      3.0      6.0        c
3  Es nulo      7.0  Es nulo

In [88]:
# También con .fillna podemos realizar multiples operaciones
df.fillna(df.mean())
# Aquí pedimos que nos aplique la media.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

### **.interpolate()**
Sustituir valores nulos por valores de interpolación

In [90]:
df.interpolate()
# Se puede usar con datos números organizados y estructurados.
# De lo contrario no funcionaría. Ya que hace un complemento de la serie.

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

### **.dropna()**
[Eliminar valores nulos](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)
Así de sencillo podemos eliminar todos los datos nulos de nuestro DataFrame.

In [92]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [93]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

## **Filtrado por condiciones con Pandas**
Funciona por lógica booleana y retorna los valores que están en “True”. Es muy útil porque en ocasiones queremos filtrar o separar datos.

In [97]:
# Comenzamos importando
import pandas as pd

# Agregamos nuestro DataFrame a una variable.
df_books = pd.read_csv('/content/example.csv',sep=',',header=0)

#Mostramos sólo las primeras dos filas
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

### **Mostrar datos que sean mayores a cierto valor**

In [100]:
df_books['Year'] > 2016
# Nos muestra con Bools, los que cumplen, o no cuestro filtro.

0      False
1      False
2       True
3       True
4       True
       ...
545     True
546    False
547     True
548     True
549     True
Name: Year, Length: 550, dtype: bool

In [105]:
mayor_a_2016 = df_books['Year'] > 2016
# Lo agregamos a una variable.

### **Filtrar datos en nuestro DataFrame que sean mayores a cierto valor**

In [106]:
df_books[mayor_a_2016]
# Ahora le pasamos a nuestro dataframe el condicional.

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### **También se puede colocar la condición directamente como parámetro**

In [108]:
# También otra manera más directa sería esta.
df_books[df_books['Year']>2016]

# Importante siempre poner el valor dentro de los [] y comillas

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### **Mostrar los datos que sean igual a cierto valor**

In [109]:
genre_fiction = df_books['Genre'] == 'Fiction'

In [110]:
print(genre_fiction)
# Agregue print para no perder la bonita costumbre.

0      False
1       True
2      False
3       True
4      False
       ...
545     True
546    False
547    False
548    False
549    False
Name: Genre, Length: 550, dtype: bool

### **Filtrado con varias condiciones**

In [111]:
# Aquí agregamos nuestra variables ya hechas
# Pero de igual manera se pueden concatenar las operaciones de lógica.

df_books[mayor_a_2016 & genre_fiction]

,Name,Author,User Rating,Reviews,Price,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
...,...,...,...,...,...,...,...
509,To Kill a Mockingbird,Harper Lee,4.8,26234,7,2019,Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction

##### Si queremos colocar varias condiciones sin expresarla anteriormente, debemos colocarlas separadas en paréntesis:

In [112]:
df_books[(df_books['Year'] > 2016) & (df_books['Genre'] == 'Fiction')]

,Name,Author,User Rating,Reviews,Price,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
...,...,...,...,...,...,...,...
509,To Kill a Mockingbird,Harper Lee,4.8,26234,7,2019,Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction

### **Filtrado con negación**

In [113]:
df_books[~mayor_a_2016]
# Únicamente utilizando este símbolo "~" negamos nuestro condicional

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
...,...,...,...,...,...,...,...
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction

## **Funciones principales de Pandas**
Hay ciertas funciones que son muy importantes y que siempre estaremos usando a la hora de hacer análisis de datos, para mayor facilidad y comprensión del DataFrame.
[10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html)

In [114]:
# Importamos nuestra librería:
import pandas as pd

In [115]:
# Cargamos nuestro data set a una variable.
df_books = pd.read_csv('/content/example.csv')

### **.head()**
Mostrar las primeras 5 líneas de registro

In [116]:
df_books.head()
# Por defaul nos muestra las primeras 5 líneas

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [117]:
# Pero podemos elegir las que queramos
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

### **.info()**
Mostrar los diferentes datos que contiene el DataFrame

In [118]:
df_books.info()
# Nos muestra toda la información de nuestro Dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

### **.describe()**
Obtener diferentes datos estadísticos de las columnas numéricas.

In [119]:
df_books.describe()
# Sólo de las columnas numéricas

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

### **.tail()**
Mostrar los últimos 5 registros del DataFrame

In [120]:
# De igual manera como funciona .head() podemos usar .tail()
df_books.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [121]:
df_books.tail(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [122]:
df_books.tail(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### **.memory_usage()**
Obtener el uso de la memoria de cada columna

In [127]:
df_books.memory_usage(deep=True)
# Dónde con deep=True le indicamos que queremos una busqueda profunda

Index            128
Name           59737
Author         39078
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          36440
dtype: int64

### **.value_counts()**
Obtener cuantos datos tenemos de algo en específico

In [129]:
df_books['Author'].value_counts()
# Me va a contar cuantos valores tengo en mi dataframe de una busqueda específica.

Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: Author, Length: 248, dtype: int64

### **.drop_duplicates()**
Eliminar registros duplicados.

In [130]:
# Vamos a entrar al registro del posición 0
df_books.iloc[0]

Name           10-Day Green Smoothie Cleanse
Author                              JJ Smith
User Rating                              4.7
Reviews                                17350
Price                                      8
Year                                    2016
Genre                            Non Fiction
Name: 0, dtype: object

In [131]:
df_books = df_books.append(df_books.iloc[0])
# Duplicamos nuestro ejemplo

In [132]:
df_books
# Vemos que ahora se encuentra al principio y al final los mismos valores.

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [133]:
# Simplemente llamando a la función podemos eliminar todos los duplicados.
df_books.drop_duplicates()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [134]:
df_books.drop_duplicates(keep='last')
# También podemos agregar parámetros
# Con este le decimos que sólo borré el último

,Name,Author,User Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
...,...,...,...,...,...,...,...
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

### **.sort_values()**
Ordenar los registros según valores de la columna

#### **(orden ascendente)**

In [135]:
df_books.sort_values('Year')

,Name,Author,User Rating,Reviews,Price,Year,Genre
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,4.7,11676,9,2009,Fiction
418,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,4.8,4628,7,2009,Fiction
177,"I, Alex Cross",James Patterson,4.6,1320,7,2009,Fiction
417,The Last Lecture,Randy Pausch,4.7,4028,9,2009,Non Fiction
331,The 7 Habits of Highly Effective People: Power...,Stephen R. Covey,4.6,9325,24,2009,Non Fiction
...,...,...,...,...,...,...,...
239,"National Geographic Kids Why?: Over 1,111 Answ...",Crispin Boyer,4.8,5347,16,2019,Non Fiction
74,Difficult Riddles For Smart Kids: 300 Difficul...,M Prefontaine,4.6,7955,5,2019,Non Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
466,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.6,26490,15,2019,Non Fiction
356,The Complete Ketogenic Diet for Beginners: You...,Amy Ramos,4.3,13061,6,2019,Non Fiction

#### **(orden descendente)**

In [136]:
df_books.sort_values('Year', ascending=False)
# Sólo agregando ascending a False

,Name,Author,User Rating,Reviews,Price,Year,Genre
179,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2019,Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
267,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2019,Fiction
...,...,...,...,...,...,...,...
160,Have a Little Faith: A True Story,Mitch Albom,4.8,1930,4,2009,Non Fiction
512,True Compass: A Memoir,Edward M. Kennedy,4.5,438,15,2009,Non Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,4.7,11676,9,2009,Fiction
78,Divine Soul Mind Body Healing and Transmission...,Zhi Gang Sha,4.6,37,6,2009,Non Fiction
459,The Shack: Where Tragedy Confronts Eternity,William P. Young,4.6,19720,8,2009,Fiction

## **GROUPY**
[**.groupy()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

Permite agrupar datos en función de los demás. Es decir, hacer el análisis del DataFrame en función de una de las columnas.

In [137]:
# Importamos y agregamos nuestro Dataset
import pandas as pd
df = pd.read_csv('/content/example.csv')
df.head(2)
#Mostramos las primeras dos filas.

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

### **Agrupaciones con _estadísticas_**
**.groupby()**

La columna seleccionada en todos los casos, pasa a ser el índice.
Veamos ejemplos:

#### **.groupby().count()**
Agrupar por columnas y mostrar el conteo de los datos de las demás columnas

In [140]:
df.groupby('Author').count()
# Aparte de agrupar por sólo el autor, le decimos que nos cuente los datos.

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

#### **.groupby().median()**
Agrupar por columnas y mostrar la mediana de los datos de las demás columnas

In [141]:
df.groupby('Author').median()
# Saber la mediana por autor

                            User Rating  Reviews  Price    Year
Author
Abraham Verghese                    4.6   4866.0   11.0  2010.5
Adam Gasiewski                      4.4   3113.0    6.0  2017.0
Adam Mansbach                       4.8   9568.0    9.0  2011.0
Adir Levy                           4.8   8170.0   13.0  2019.0
Admiral William H. McRaven          4.7  10199.0   11.0  2017.0
...                                 ...      ...    ...     ...
Walter Isaacson                     4.6   7827.0   20.0  2012.0
William Davis                       4.4   7497.0    6.0  2012.5
William P. Young                    4.6  19720.0    8.0  2013.0
Wizards RPG Team                    4.8  16990.0   27.0  2018.0
Zhi Gang Sha                        4.6    128.5   11.5  2011.0

[248 rows x 4 columns]

#### **.groupby().mean()**
Agrupar por columna y mostrar la media de los datos de las demás columnas

In [143]:
df.groupby('Author').mean()
# Para saber la media.

                            User Rating       Reviews      Price         Year
Author
Abraham Verghese               4.600000   4866.000000  11.000000  2010.500000
Adam Gasiewski                 4.400000   3113.000000   6.000000  2017.000000
Adam Mansbach                  4.800000   9568.000000   9.000000  2011.000000
Adir Levy                      4.800000   8170.000000  13.000000  2019.000000
Admiral William H. McRaven     4.700000  10199.000000  11.000000  2017.000000
...                                 ...           ...        ...          ...
Walter Isaacson                4.566667   6222.666667  20.333333  2013.333333
William Davis                  4.400000   7497.000000   6.000000  2012.500000
William P. Young               4.600000  19720.000000   8.000000  2013.000000
Wizards RPG Team               4.800000  16990.000000  27.000000  2018.000000
Zhi Gang Sha                   4.600000    128.500000  11.500000  2011.000000

[248 rows x 4 columns]

#### **.groupby().max()**
Agrupar por columna y mostrar el máximo de los datos de las demás columnas

In [146]:
df.groupby('Author').max()
# Para saber el máximo de la columna autor.

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2011,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Steve Jobs,4.6,7827,21,2017,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2013,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2017,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2019,Fiction
Zhi Gang Sha,Soul Healing Miracles: Ancient and New Sacred ...,4.6,220,17,2013,Non Fiction

#### **.groupby().min()**
Agrupar por columna y mostrar el mínimo de los datos de las demás columnas

In [147]:
df.groupby('Author').min()
# Para saber el mínimo de nuestra columna.

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2010,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da Vinci,4.5,3014,20,2011,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2012,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2009,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2017,Fiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,4.6,37,6,2009,Non Fiction

#### **.groupby().sum()**
Agrupar por columna y mostrar la suma de los datos de las demás columnas

In [152]:
df.groupby('Author').sum()
# Para sumar las columnas de Author agrupadas.
# todo esto lo hace con las columnas numéricas.

                            User Rating  Reviews  Price  Year
Author
Abraham Verghese                    9.2     9732     22  4021
Adam Gasiewski                      4.4     3113      6  2017
Adam Mansbach                       4.8     9568      9  2011
Adir Levy                           4.8     8170     13  2019
Admiral William H. McRaven          4.7    10199     11  2017
...                                 ...      ...    ...   ...
Walter Isaacson                    13.7    18668     61  6040
William Davis                       8.8    14994     12  4025
William P. Young                    9.2    39440     16  4026
Wizards RPG Team                   14.4    50970     81  6054
Zhi Gang Sha                        9.2      257     23  4022

[248 rows x 4 columns]

#### **.groupby(' ').sum().loc[' ']**
Podemos usar loc y acceder a un dato específico del DataFrame.

In [153]:
df.groupby('Author').sum().loc['William Davis']

User Rating        8.8
Reviews        14994.0
Price             12.0
Year            4025.0
Name: William Davis, dtype: float64

#### **.groupby().sum().reset_index()**
Agrupar por columna y mostrar la suma de los valores de las demás columnas. Colocar los índices que el DataFrame trae por defecto

In [154]:
df.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

### **.groupby().agg()**
La función agg() permite aplicar varias funciones al DataFrame una vez agrupado según una columna específica. Agrupar por una columna y mostrar el mínimo y máximo de las demás columnas

In [156]:
df.groupby('Author').agg(['min','max'])
# Muestra cada columna dividida en dos: min y max. Estas contienen los valores maximo y minimo de la columna para cada Author

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

#### **Agrupar por una columna, obtener el mínimo y máximo de la otra columna como parámetro y sumar los valores de la columna a otra columna.**

In [158]:
df.groupby('Author').agg({'Reviews':['min','max'], 'User Rating':'sum'})
# Agrupar por Author, obtener el mínimo y máximo de la columna ‘Reviews’ y sumar los valores de la columna ‘User Rating’

                           Reviews        User Rating
                               min    max         sum
Author
Abraham Verghese              4866   4866         9.2
Adam Gasiewski                3113   3113         4.4
Adam Mansbach                 9568   9568         4.8
Adir Levy                     8170   8170         4.8
Admiral William H. McRaven   10199  10199         4.7
...                            ...    ...         ...
Walter Isaacson               3014   7827        13.7
William Davis                 7497   7497         8.8
William P. Young             19720  19720         9.2
Wizards RPG Team             16990  16990        14.4
Zhi Gang Sha                    37    220         9.2

[248 rows x 3 columns]

### **.groupby(['col1','col2']).count()**
Agrupar por un rango de celdas y contar los valores de las demás columnas

In [159]:
df.groupby(['Author','Year']).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]

## **Combinando DataFrames**
Existen diferentes formas de fusionar dos DataFrames. Esto se hace a través de la lógica de combinación como se muestra a continuación:
![merge-join](https://static.platzi.com/media/user_upload/merge-join-bce1f2e4-f1af-4fdd-8b80-a3d8926d9444.jpg)

* **Left join:** Da prioridad al DataFrame de la izquierda. Trae siempre los datos de la izquierda y las filas en común con el DataFrame de la derecha.
* **Right join:** Da prioridad al DataFrame de la derecha. Trae siempre los datos de la derecha y las filas en común con el DataFrame de la izquierda.
* **Inner join:** Trae solamente aquellos datos que son común en ambos DataFrame
* **Outer join:** Trae los datos tanto del DataFrame de la izquierda como el de la derecha, incluyendo los datos que comparten ambos.

![image.png]()

![image.png]()

### **Merge y Concat**
Como podemos usar la lógica anteriormente vista en código, usando los parámetros de Pandas

* [**Pandas.concat()**](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

* [**Pandas.merge()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)

In [161]:
# Comenzamos agregando nuestro nuestras librerías
import pandas as pd
import numpy as np

#### **.concat()**
[pandas.concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [163]:
# En esta ocasión vamos a crear un DataFrame nuevo
df1 = pd.DataFrame({'A':['A0', 'A1', 'A2','A3'],
        'B':['B0', 'B1', 'B2','B3'],
	'C':['C0', 'C1', 'C2','C3'],
	'D':['D0', 'D1', 'D2','D3']})


df2 = pd.DataFrame({'A':['A4', 'A5', 'A6','A7'],
	'B':['B4', 'B5', 'B6','B7'],
	'C':['C4', 'C5', 'C6','C7'],
	'D':['D4', 'D5', 'D6','D7']})

##### **Concatenar los DataFrames**

In [164]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

##### **Corregir los índices**

In [165]:
pd.concat([df1,df2], ignore_index= True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

##### **Por los axis**

In [170]:
# En este caso sólo tenemos dos ejes, 0 y 1
pd.concat([df1,df2], axis = 1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

#### **.merge()**
[pandas.merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)

In [171]:
# Creamos DataFrames
izq = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

der = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

##### **Unir DataFrame Der a Izq**

In [172]:
izq.merge(der)
# El que esta como variable es el izquierdo y dentro del rango el de la derecha.

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [174]:
# Es mejor especificar donde se hará el merge
izq.merge(der, on='key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

##### **Unir un DataFrame de Izq a Derecha**

In [173]:
der.merge(izq)

  key   C   D   A   B
0  k0  C0  D0  A0  B0
1  k1  C1  D1  A1  B1
2  k2  C2  D2  A2  B2
3  k3  C3  D3  A3  B3

##### MERGE 2
Hay diferencias entre algunas columnas, por esa razón hay que separarlos de esta manera:

In [175]:
izq = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

der = pd.DataFrame({'key_2' : ['k0', 'k1', 'k2','k3'],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

In [176]:
izq.merge(der, left_on = 'key', right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2
3  k3  A3  B3    k3  C3  D3

##### Merge 3
Si tenemos un NaNen nuestro DataFrame, pandas no lo detectará como un mach. Se soluciona con How, dando así, una preferencia.

In [177]:
izq = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

der = pd.DataFrame({'key_2' : ['k0', 'k1', 'k2',np.nan],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

In [178]:
izq.merge(der, left_on = 'key', right_on='key_2', how='left')

  key   A   B key_2    C    D
0  k0  A0  B0    k0   C0   D0
1  k1  A1  B1    k1   C1   D1
2  k2  A2  B2    k2   C2   D2
3  k3  A3  B3   NaN  NaN  NaN

### **Join**
[Join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html) Es otra herramienta para hacer exactamente lo mismo, una combinación. La diferencia es que join va a ir a los índices y no a columnas específicas.

In [179]:
# Importamos sólo pandas
import pandas as pd

In [180]:
# Creamos dos diccionarios:
izq = pd.DataFrame({'A': ['A0','A1','A2'],
  'B':['B0','B1','B2']},
  index=['k0','k1','k2'])

der =pd.DataFrame({'C': ['C0','C1','C2'],
  'D':['D0','D1','D2']},
  index=['k0','k2','k3'])

In [182]:
izq

     A   B
k0  A0  B0
k1  A1  B1
k2  A2  B2

In [183]:
der

     C   D
k0  C0  D0
k2  C1  D1
k3  C2  D2

#### **Combinamos de Izquierda a Derecha**

In [184]:
izq.join(der)

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

#### **Traer todo los datos aunque no hagan mach**
Juntar los datos aunque no coincidan.

In [185]:
izq.join(der, how = 'outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2

## **Pivot y Melt**
Dos funciones que sirven para cambiar la estructura de nuestro DataFrame de acuerdo a nuestras necesidades.

In [187]:
# Comenzamos importando la librería
import pandas as pd

# Importamos nuestro DataSet
df = pd.read_csv('/content/example.csv')

In [188]:
# Mostramos las primeras 5 líneas.
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

### **pivot_table**
Pivot, básicamente, transforma los valores de determinadas columnas o filas en los índices de un nuevo DataFrame, y la intersección de estos es el valor resultante.

In [189]:
df_books.pivot_table(index='Author',columns='Genre',values='User Rating')

Genre                       Fiction  Non Fiction
Author
Abraham Verghese                4.6          NaN
Adam Gasiewski                  NaN     4.400000
Adam Mansbach                   4.8          NaN
Adir Levy                       4.8          NaN
Admiral William H. McRaven      NaN     4.700000
...                             ...          ...
Walter Isaacson                 NaN     4.566667
William Davis                   NaN     4.400000
William P. Young                4.6          NaN
Wizards RPG Team                4.8          NaN
Zhi Gang Sha                    NaN     4.600000

[248 rows x 2 columns]

Como resultado, los valores de Author pasan a formar el índice por fila y los valores de Genre pasan a formar parte de los índices por columna, y el User Rating se mantiene como valor.

Por supuesto, para este caso, un Author suele tener un solo género literario, así que no es una transformación muy útil, pero veamos si podemos lograr algo mejor.

In [190]:
df_books.pivot_table(index='Genre',columns='Year', values='User Rating',aggfunc='sum')

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,110.2,92.3,97.0,94.4,109.1,134.3,79.1,89.6,113.7,99.5,96.4
Non Fiction,119.0,135.6,130.9,132.2,118.6,96.8,153.3,144.3,119.3,133.9,140.6

En este caso tenemos por cada género, la suma a lo largo de los años. 

No solo podemos obtener la suma, también podemos obtener la media, la desviación estándar, el conteo, la varianza, etc. Únicamente con cambiar el parámetro aggfunc que traduce función de agrupamiento.

### **.melt()**
El método melt toma las columnas del DataFrame y las pasa a filas, con dos nuevas columnas para especificar la antigua columna y el valor que traía.

---

Por ejemplo, simplemente al imprimir las cinco primeras filas del DataFrame con las columnas de Name y Genre se tiene este resultado.

In [193]:
df[['Name','Genre']].head(5)

                                                Name        Genre
0                      10-Day Green Smoothie Cleanse  Non Fiction
1                                  11/22/63: A Novel      Fiction
2            12 Rules for Life: An Antidote to Chaos  Non Fiction
3                             1984 (Signet Classics)      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  Non Fiction

In [192]:
df_books[['Name','Genre']].head(5).melt()

  variable                                              value
0     Name                      10-Day Green Smoothie Cleanse
1     Name                                  11/22/63: A Novel
2     Name            12 Rules for Life: An Antidote to Chaos
3     Name                             1984 (Signet Classics)
4     Name  5,000 Awesome Facts (About Everything!) (Natio...
5    Genre                                        Non Fiction
6    Genre                                            Fiction
7    Genre                                        Non Fiction
8    Genre                                            Fiction
9    Genre                                        Non Fiction

Ahora cada resultado de las dos columnas pasa a una fila de este modo a tipo llave:valor.

In [194]:
df_books.melt(id_vars='Year',value_vars='Genre')

     Year variable        value
0    2016    Genre  Non Fiction
1    2011    Genre      Fiction
2    2018    Genre  Non Fiction
3    2017    Genre      Fiction
4    2019    Genre  Non Fiction
..    ...      ...          ...
545  2019    Genre      Fiction
546  2016    Genre  Non Fiction
547  2017    Genre  Non Fiction
548  2018    Genre  Non Fiction
549  2019    Genre  Non Fiction

[550 rows x 3 columns]

## **Aply**
Apply Es un comando muy poderoso que nos deja aplicar funciones a nuestro DataFrame

In [200]:
# Comenzamos importando librerías
import pandas as pd

# Agregamos nuestro DataFrame
df_books = pd.read_csv('/content/example.csv')

# Mostramos las primeras 2 filas
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [202]:
# Creamos nuestra función de Python:
def two_times(value):
  return value * 2

In [203]:
# Lo aplicamos a la columna de User Rating
df_books['User Rating'].apply(two_times)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

In [206]:
# Podemos guardarlo en una columna nueva
df_books['User Rating2'] =df_books['User Rating'].apply(two_times)

In [207]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,User Rating2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4

In [205]:
# Se pueden crear lambda functions
df_books['User Rating2'] =df_books['User Rating'].apply(lambda x: x* 3)
# Multiplica los valores por 3

### Apply en varias columnas con condiciones, hay que especificar a que los vamos a aplicar (filas o columnas)

In [208]:
df_books.apply(lambda x: x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'], axis = 1)
# Multiplica por 2 a los datos que cumplan con la condición.

0      4.7
1      9.2
2      4.7
3      9.4
4      4.8
      ...
545    9.8
546    4.7
547    4.7
548    4.7
549    4.7
Length: 550, dtype: float64

## ****